{% extends "core/base.html" %}

{% block content %}
<div class="container">
  <h2 class="mb-4">🎉 Liste des événements</h2>

    {% if user.is_authenticated %}
      <a href="{% url 'event_create' %}" class="btn btn-success mb-3">➕ Créer un événement</a>
    {% endif %}

  {% if events %}
    <div class="row">
      {% for e in events %}
        <div class="col-md-4 mb-4">
          <div class="card h-100 shadow-sm">
            {% if e.image %}
              <img src="{{ e.image.url }}" class="card-img-top" alt="{{ e.titre }}">
            {% else %}
              <img src="https://via.placeholder.com/400x250?text=Event" class="card-img-top" alt="Event">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{ e.titre }}</h5>
              <p class="card-text text-muted">
                📍 {{ e.lieu }} <br>
                📅 {{ e.date|date:"d/m/Y H:i" }} <br>
                <span class="badge bg-primary">{{ e.category }}</span>
              </p>
              <a href="{% url 'event_detail' e.pk %}" class="btn btn-outline-primary btn-sm">Voir détails</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <div class="alert alert-info">Aucun événement disponible pour le moment.</div>
  {% endif %}
</div>
{% endblock %}
