{% extends "core/base.html" %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card shadow p-4">
      <h2 class="mb-4 text-center">🔑 Connexion</h2>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success w-100">Se connecter</button>
      </form>
      <p class="mt-3 text-center">
        Pas encore de compte ? <a href="{% url 'signup' %}">Inscrivez-vous ici</a>.
      </p>
    </div>
  </div>
</div>
{% endblock %}
